
        div#medium-editor-toolbar-1{
            display: none !important;
        }
        
        
        .medium-editor-element{
            font-family: arial !important;
        }
                body{
                    font-family: Arial, Helvetica, sans-serif;
                }
                 .app {
                 width: 100%;
                 height: fit-content;;
                 display: grid;
                 }
        
                 @keyframes stretch-animation {
                 0% {
                 transform: scale(1, 1);
                 }
                 10% {
                 transform: scale(1.02, 0.98);
                 }
                 30% {
                 transform: scale(0.98, 1.02);
                 }
                 50% {
                 transform: scale(1.02, 0.98);
                 }
                 100% {
                 transform: scale(1, 1);
                 }
                 }
                 .child {
                 position: absolute;
                 top: 0;
                 }
                 .child-1 {
                 left: 0;
                 }
                 .child-2 {
                 left: 150px;
                 }
                 .parent {
                 position: relative;
                 }
        
                 .parent {
                 position: relative;
                 width: 100%;
                 height: auto;
                 }
                 .child {
                 opacity: 0.8;
                 height: 150px;
                 width: 100%;
                 position: absolute;
                 top: 0;
                 }
                 .child1 {
                 left: 0;
                 }
                 .child2 {
                 left: 0px;
                 }

                 .block_gray{
                    color: #a7a5a0;
                    }
                    .mr-3{
                    margin-right: 1em;
                    }
                    .side_left{
                    height: 100vh;
                    }
                    /* The sidepanel menu */
                    .sidepanel {
                    height: 100vh; /* Specify a height */
                    width: 0; /* 0 width - change this with JavaScript */
                    position: fixed; /* Stay in place */
                    z-index: 1; /* Stay on top */
                    top: 0;
                    left: 0;
                    border-radius: 0px;
                    overflow-x: hidden; /* Disable horizontal scroll */
                    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
                    }
                    /* The sidepanel links */
                    .sidepanel a {
                    padding: 8px 8px 8px 32px;
                    text-decoration: none;
                    font-size: 25px;
                    color: #818181;
                    display: block;
                    transition: 0.3s;
                    }
                    /* When you mouse over the navigation links, change their color */
                    .sidepanel a:hover {
                    color: #f1f1f1;
                    }
                    /* Position and style the close button (top right corner) */
                    .sidepanel .closebtn {
                    position: absolute;
                    top: 0;
                    right: 25px;
                    font-size: 36px;
                    margin-left: 50px;
                    }
                    #main_container2{
                    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
                    padding-top: 4em;
                    }
                    h2:focus, p:focus, div:focus{
                    outline: none;
                    }

                    #topTriggers{
                        margin-top: 4em !important;
                    }

                    #fold{
                        margin-top: 10em;
                    }

    p:focus-visible {
        outline: none !important;
    }

    p {
        outline: none !important;
    }

    .editable:focus-visible {
        outline: none !important;
    }